{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Edit profile{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4 mt-4 mb-4 d-flex justify-content-center text-center">
        <div class="card" style="width: 18rem;">
            {% if user.profile.avatar %}
            <img class="card-img-top" style="border: 2px solid" src="{{ user.profile.avatar.url }}"/>
            {% else %}
            <img class="card-img-top" style="border: 2px solid" src="/media/profile/default/default.apng"/>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                {% if user.email %}
                <p class="card-text">{{ user.email }}</p>
                {% endif %}
                {% if user.profile.about or user.email %}
                <p class="card-text">{{ user.profile.about }}</p>
                {% else %}
                <p class="card-text">Nothing here yet.</p>
                {% endif %}
                <a href="#" class="btn btn-info btn-lg disabled">{{ user.profile.subscribers.count }} Subscribers</a>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Edit Profile</h3>
            <label for="id_avatar">Profile Photo:</label>{% render_field form.avatar class="form-control" %}
            <br>
            <label for="id_email">Email:</label>{% render_field form.email class="form-control" %}
            <br>
            <label for="id_about">About:</label>{% render_field form.about class="form-control" style="max-height: 10rem;" %}
            <br>
            <div class="d-flex justify-content-center"><button type="submit" class="btn btn-secondary">Edit information</button></div>
        </form>
    </div>
</div>

{% endblock content %}