{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="d-flex justify-content-center h-100 mt-3 mb-5">
    <div class="card">
        <div class="card-header text-center">
            <h3>Registration</h3>
            <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
<!--                <div class="input-group form-group mt-2">-->
<!--                    <input type="email" class="form-control" placeholder="Email" required="required">-->
<!--                </div>-->
<!--                <div class="input-group form-group mt-2">-->
<!--                    <input type="text" class="form-control" placeholder="Username" required="required">-->
<!--                </div>-->
<!--                <div class="input-group form-group mt-2">-->
<!--                    <input type="password" class="form-control" placeholder="Password" required="required">-->
<!--                </div>-->
<!--                <div class="input-group form-group mt-2">-->
<!--                    <input type="password" class="form-control" placeholder="Confirm password" required="required">-->
<!--                </div>-->

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        {{ form.email }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        {{ form.username }}
                        {% if form.username.errors %}
                        {% for error in form.username.errors %}
                        <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                        <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                        <strong style="color: #F73F3F;">*{{ error|escape }}</strong>
                        <br/>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>


                <div class="form-group mt-2 d-flex justify-content-center">
                    <input type="submit" value="Register" class="btn btn-success" >
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Have an account?<a class="mx-1" href="{% url 'log' %}">Log In</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Email';
    form_fields[2].placeholder='Username';
    form_fields[3].placeholder='Password';
    form_fields[4].placeholder='Confirm Password';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }

</script>
{% endblock %}

